# Node
node_modules/
dist/
.vite/

# Python
__pycache__/
*.pyc
*.pkl

# Environment
.env

# OS
.DS_Store
Thumbs.db
# Ignore AI generated / runtime files
ai_model/*.pkl
ai_model/*.json
ai_model/*.csv
ai_model/*.py

# Allow only required files
!ai_model/ml_training_data.csv
!ai_model/predict_train.py
!ai_model/train_model.py
